

.menuflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: #faf5f5;
}

.title {
  font-size: 20px;
  margin: 0;
}

.menu-mes {
  margin: 0 20px;
  background-color: #6a76e0;
  width: 170px;
  height: 30px;
  padding:0 20px ;
  border-radius: 8px;
  color: rgb(72, 68, 95);
}



.flexinforme {
  width: 100%;
}

.tabla-informes{
    
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 8px;
  width: 94%;
  height: 72%;
}

.title-info {
  color: #777777;
  font-size: 15px;
  font-weight: bold; /* Coloca el texto en negrita */
  display: flex;
  justify-content: center;
  border-radius: 8px;

}



.tabla-cabecera {
font-size: 13px;
}

.tabla-cuerpo {
font-size: 13px;
}

.cont-graTotal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}

.graficaFlex {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 230px;
  background: white;
  margin: 0 2em;
  border-radius: 8px;

}

.grafica {
  width: 350px;

}

.no-datos-mensaje {
  font-size: 16px;
  margin-top: 20px;
}

.TOTAL {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  background-color: #e06a6a;
  padding: 5px;
  border-radius: 8px;
  color: rgb(72, 68, 95);

}

@media (max-width: 516px) {
 .menuflex{
  flex-direction: column;
 }
 

}
  


@media (max-width: 816px) {

  .Informes{
    flex-direction: column;
    width: 100%;
  }

  .title {
    font-size: 18px;
    margin: 0;
  }
  
  .flexinforme{
    width: 100%;
    margin-top: 1em;
  }
  .graficaFlex{
    width: 100%;
  }
  .tabla-informes{
    width: 100%;
    height: 100%;
  }
  

}
  
