/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 75vw;
  margin: 0 auto;
  padding: 5vw;
}

/* Estilos de navegación */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 8.5vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 2vw;
  background-color: #ffffff;
  box-shadow: 0 0.35vw 0.7vw rgba(0, 0, 0, 0.2);
}

.logo {
  width: 6.7vw;
  height: 6vw;
  margin-bottom: 2vw 0;
  border-radius: 1vw;
}

.navigation__link {
  text-decoration: none;
  padding: 0.8vw 1.6vw;
  font-size: 0.9vw;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  color: #ffffff;
  background-color: #52dd9c;
  border-radius: 2.25vw;
  box-shadow: 0px 0.8vw 1.5vw rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.navigation__link:hover {
  color: #111121;
  background-color: #fafafa;
  border: 0.1vw solid #52dd9c;
  box-shadow: 0px 1.5vw 2vw rgba(41, 207, 141, 0.4);
  transform: translateY(-0.7vw);
}

.navigation__link:active {
  transform: translateY(-0.1vw);
}

/* Estilos de encabezado */
header.container {
  position: relative;
  background-image: url('/img/banner-removebg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  padding: 6.7vw 0;
  margin-top: 4vw;
}

header.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.texts {
  padding: 10vw;
}

.texts__title {
  font-size: 6vw;
  margin-bottom: 2vw;
  color: #39394e;
  font-family: 'Your Friendly Font', Arial, sans-serif;
}

.texts__highlight {
  color: #39394e;
}

.texts__normal {
  color: #1ec87a;
}

.texts__paragraph {
  font-size: 2.5vw;
  margin-bottom: 4vw;
  color: #777779;
  font-family: 'Your Friendly Font', Arial, sans-serif;
}

/* Estilos de sección de características */
.section.caracteristicas {
  background-image: linear-gradient(to bottom, #0fdf77, #1ec87a);
  padding: 4vw 0;
  color: #292938;
}

.section-content {
  text-align: center;
}

.feature-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1vw;
}

.feature {
  flex-basis: 25vw;
  margin: 2vw;
  text-align: center;
}

.feature img {
  width: 10vw;
  height: 10vw;
  margin-bottom: 1vw;
  border-radius: 2vw;
}

.feature h3 {
  font-size: 2.5vw;
  margin-bottom: 1vw;
}

/* Estilos del contenido principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw;
  min-height: 100vh;
}

.content {
  text-align: center;
}

.illustration img {
  border-radius: 50%;
}

.button-container {
  margin-top: 2vw;
  text-align: center;
}

.header {
  padding-right: 2vw;
}

.header .textcolor {
  font-size: 2vw;
  margin-bottom: 1vw;
  color: #1ec87a;
}

.header h1 {
  font-size: 4vw;
  margin-bottom: 1vw;
  color: #292938;
}

.header p {
  font-size: 2vw;
  margin-bottom: 1vw;
  color: #777779;
}

.button-container {
  margin-top: 2vw;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 1.5vw 3vw;
  font-size: 2.5vw;
  color: #fff;
  background-image: linear-gradient(to bottom, #0fdf77, #1ec87a);
  border-radius: 3vw;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-image: linear-gradient(to bottom, #00ff80, #0ab968);
  color: #fff;
}

.animation {
  animation: bounce 2s infinite;
}

/* Estilos de ilustración */
.illustration {
  flex-basis: 33.3%;
}

.illustration img {
  border-radius: 50%;
  width: 50vw;
  height: auto;
}

/* Estilos del pie de página */
.section.footer {
  background-color: #292938;
  color: #868686;
  padding: 2vw 0;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  color: #7c7a83;
  margin: 0 1vw;
  font-size: 5vw;
}

.social-icons a:hover {
  color: #27ca89;
}

/* Estilos del pie de página inferior */
.footer {
  background-color: #111121;
  color: #616168;
  padding: 1vw 0;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    font-size: 3vw;
  }

  .container {
    padding: 5vw;
  }

  .navigation {
    height: 12vw;
    padding: 2vw 4vw;
  }

  .navigation__link {
    padding: 1vw 2vw;
    font-size: 2vw;
  }

  .logo {
    width: 12vw;
    height: 10vw;
    margin: 4vw 0;
  }

  header.container {
    padding: 10vw 0;
  }

  .texts {
    padding:12vw;
  }

  .texts__title {
    font-size: 8vw;
  }

  .texts__paragraph {
    font-size: 4vw;
    margin-bottom: 8vw;
  }

  .section.caracteristicas {
    padding: 8vw 0;
  }

  .feature-list {
    margin-top: 4vw;
  }

  .feature {
    flex-basis: 50vw;
  }

  .feature img {
    width: 20vw;
    height: 20vw;
  }

  .feature h3 {
    font-size: 6vw;
  }

  .container {
    padding: 10vw;
  }

  .header {
    padding-right: 4vw;
  }

  .header .textcolor {
    font-size: 4vw;
  }

  .header h1 {
    font-size: 8vw;
  }

  .header p {
    font-size: 4vw;
  }

  .illustration img {
    width: 80vw;
  }

  .section.footer {
    padding: 4vw 0;
  }

  .social-icons a {
    font-size: 10vw;
  }
}
