/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}



.container {
  max-width: 1200px;

  margin: 0 auto;
  padding: 20px;
}

/* Estilos de navegación */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 110px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navigation__link {
  text-decoration: none;
  padding: 1em 2em;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  background-color:  #52dd9c;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.navigation__link:hover {
  color: #111121;
  background-color:  #fafafa;
  border: 1px solid #52dd9c;
  box-shadow: 0px 15px 20px rgba(41, 207, 141, 0.4);
  transform: translateY(-7px);
}

.navigation__link:active {
  transform: translateY(-1px);
}


.logo {
  width: 100px;
  height: auto;
  border-radius: 5px;
  margin-top: 20px;
}

/* Estilos de encabezado */
/* Estilos del encabezado */
header.container {
  position: relative;
  background-image: url('src/assets/img/banner-removebg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  padding: 100px 0;
  margin-top: 40px;
}

header.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.texts{
  padding: 120px;
}


.texts__title {
  font-size: 90px;
  margin-bottom: 20px;
  color:#39394e ; /* Cambio de color del título */
  font-family: 'Your Friendly Font', Arial, sans-serif; /* Cambio de fuente */
}

.texts__highlight {
  color: #39394e; /* Cambia "rojo" por el color que desees para "Spend" */
}

.texts__normal {
  color: #1ec87a; /* Cambia "azul" por el color que desees para "Wise" */
}


.texts__paragraph {
  font-size: 25px;
  margin-bottom: 40px;
  color: #777779; /* Cambio de color del párrafo */
  font-family: 'Your Friendly Font', Arial, sans-serif; /* Cambio de fuente */
}


/* Estilos de sección de características */
.section.caracteristicas {
  background-image: linear-gradient(to bottom,#0fdf77, #1ec87a);
  padding: 40px 0;
  color: #292938;
}

.section-content {
  text-align: center;
}

.feature-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.feature {
  flex-basis: 250px;
  margin: 10px;
  text-align: center;
  
}

.feature img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.feature h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Estilos del contenido principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  height: 100vh;
}

.content {
  
  text-align: center;
  
}

.illustration img {
  border-radius: 50%;
  
}

.button-container {
  margin-top: 20px;
  text-align: center;
}


.header {
  flex-basis: 50%;
  padding-right: 40px;
}

.header .textcolor {
  font-size: 20px;
  margin-bottom: 10px;
  color: #1ec87a;
}

.header h1 {
  font-size: 38px;
  margin-bottom: 10px;
  color: #292938;
}

.header p {
  font-size: 20px;
  margin-bottom: 10px;
  color: #777779;
}

.button-container {
  margin-top: 20px;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  color: #fff ;
  background-image: linear-gradient(to bottom,#0fdf77, #1ec87a);
  border-radius: 30px;
  outline: none;
  border:none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-image: linear-gradient(to bottom,#00ff80, #0ab968);
  color: #fff;
  
}

.animation {
  animation: bounce 2s infinite;
}


/* Estilos de ilustración */
.illustration {
  flex-basis: 50%;
}

.illustration img {
  border-radius: 50%;
  width: 300px; /* Cambia el valor "200px" al tamaño deseado */
  height: auto;
}


/* Estilos del pie de página */
.section.footer {
  background-color: #292938;
  color: #868686;
  padding: 20px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  color: #7c7a83;
  margin: 0 10px;
  font-size: 50px;
}

.social-icons a:hover {
  color: #27ca89;
}


/* Estilos del pie de página inferior */
.footer {
  background-color: #111121;
  color: #616168;
  padding: 10px 0;
  text-align: center;
}


@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 10px;
  }

  .navigation {
    height: 80px;
    padding: 5px 10px;
  }

  .navigation__link {
    padding: 0.5em 1em;
    font-size: 12px;
  }

  .logo {
    width: 80px;
    height: 20%;
    
  }

  header.container {
    padding: 60px 0;
  }

  .texts {
    padding: 80px;
  }

  .texts__title {
    font-size: 60px;
  }

  .texts__paragraph {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .section.caracteristicas {
    padding: 20px 0;
  }

  .feature-list {
    margin-top: 10px;
  }

  .feature {
    flex-basis: 200px;
  }

  .feature img {
    width: 80px;
    height: 80px;
  }

  .feature h3 {
    font-size: 16px;
  }

  .container {
    padding: 40px;
    height: auto;
  }

  .header {
    padding-right: 20px;
  }

  .header .textcolor {
    font-size: 16px;
  }

  .header h1 {
    font-size: 32px;
  }

  .header p {
    font-size: 16px;
  }

  .illustration img {
    width: 200px;
  }

  .section.footer {
    padding: 10px 0;
  }

  .social-icons a {
    font-size: 30px;
  }
}
