@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800.900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}
/* Estilos para cajonbody */
.cajonbody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #191924;
}

/* Estilos para cajasection */
.cajasection {
  max-width: 1440px;
  width: 100%;
  height: 85%;
  background: #1ec87a;
  border-radius: 8px;
  position: fixed;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px -3px 6px rgba(77, 76, 76, 0.1);
 
}

/* Estilos para cont */
.cont {
  padding: 20px;
  border-radius: 8px;
  background: #ffffff;
  margin: 20px;
  position: relative;
  height: 71%;
}

/* Estilos para date */
.date {
  display: flex;
  color: #191924;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  height: 18%;
  margin: 20px;
}

/* Estilos para navigat */
.navigat {
  position: fixed;
  bottom: 0;
  max-width: 2000px ;
  width: 100%;
  height: 85px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

/* Estilos para card */
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #f3f1d8;
  width: 100%;
  height: 100%;
  max-height: 430px;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




.title {
  font-size: 22px;
  margin-bottom: 5px;
  color: #5b5f5d;
}

.addButton {
  background-color: #544fca;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
}

.addButton:hover{
  background-color: #29268C;
}


/* aqui termina estilos generales  */


/* fecha */


/* .date {
  display: flex;
  color: #191924;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  height:100px ;
  margin: 20px;

 
} */

.dateRight {
  display: flex;
  align-items: center;
}

.dateNumber {
  font-size: 68px;
  font-weight: 700;
  color: #292363;
}

.dateMonth {
  font-size: 24px;
  font-weight: 700;
  margin-left: 8px;
  text-transform: uppercase;
  color: #292363;
}

.dateYear {
  margin-left: 8px;
  font-size: 25px;
  color: #1e1947;
}

.username-text{
  display: flex;
  text-align: center;
  flex-direction: column;
}
.username{
  background-image: linear-gradient(45deg, #a3aa3e, #6164f7);
  background-clip: text;
  -webkit-background-clip: text; /* Para navegadores webkit */
  color: transparent;
  font-size: 20px;
}
.dateText {
  color: #292363;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}



/* modulo de salir */
.boton-salir {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 360px;
  background-color: #f8f2e0;
  color: #535286;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.button-salir {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  background-color: #f73535;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.button-salir:hover {
  background-color: #e06a6a;
}

.button-salir:focus {
  outline: none;
}

.button-salir svg {
  margin-right: 8px;
  font-size: 20px;
}


/* pantalla de carga */



.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-circle {
  width: 80px;
  height: 80px;
  background-color: #ff6b6b;
  border-radius: 50%;
  animation: bounce 1s ease-in-out infinite;
 
}

.loading-text {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
 
  
}

body {
  background-color: #f9f9f9;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Estilos responsivos */
/* Dispositivos móviles */


/* Tablets */
